@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+SC&display=swap');

*{
    margin: 0;
    padding: 0;
}

#d1{
    background-color: red;
    width: 500px;
    font-family: 'Lato', sans-serif;
    height: 100vh;
}
#d1 nav{
    padding: 45px;
}
#d1 nav li{
    list-style: none;
    font-size: 20px;
    padding: 30px;
}
#d1 nav li a{
    text-decoration: none;
    color: white;
}
#main{
    background-color: yellow;
    width: 90vw;
}
.container{
    display: flex;
}
#info{
    background-color: magenta;
    height: 50vh;
    width: 80vw;
    margin: 144px auto;
    display: flex;
    justify-content: space-around;
}
#pic img{
    height: 60vh;
}
#devinfo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
   
}
#hello{
    font-size: 60px;
}
#name{
    font-size: 70px;
    font-weight: bold;
    font-family: 'Encode Sans SC', sans-serif;
}
#about{
    font-size: 30px;
}
#aboutinfo{
    margin-top: 10px;
    font-size: 20px;
}
#bt{
    margin-top: 30px;
}
#bt button{
    background-color:royalblue;
    color: white;
    padding: 10px 15px;
    border-radius: 20px;
    border-width: 1px;
    transition: 1s;
    animation-duration: 1s;
    animation-name: btfx;
    text-shadow: 1px;
    margin: 0 3px;
    font-size: 20px;  
    cursor: pointer;
}
@keyframes btfx {
    from{padding: 0px;}
    to{padding: 10px 15px;}
}
#bt button:hover{

    background-color:white;
    color: royalblue;
}
